<div class="login-form">
    <form>
        <h2>Create a new account to access to the chat</h2>
        <div class="field-container">
            <label>Email:</label>
            <input placeholder="example@test.com" type="email">
        </div>
        <div class="field-container">
            <label>Username:</label>
            <input placeholder="exampleusername" type="email">
        </div>
        <div class="field-container">
            <label>Password:</label>
            <input placeholder="Enter your Password" type="password">
        </div>
        <button type="button">Register</button>

        <span>Already have an account? <a class="nav-li" routerLink="/auth/login">Login</a></span>
    </form>
</div>